html,
body {
  color: #000000;
}

.flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  text-align: center;
}

.title {
  font-size: 10vw;
}

.gse-logo {
  max-height: 300px;
}

.m-b-md {
  margin-bottom: 30px;
}

.intro {
  width: 80%;
  font-size: 22px;
}

