.header-links {
  background-color: #000000;
  text-align: center;
  padding: 8px 25px;
  font-size: 20px !important;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  background: -webkit-gradient(linear, right top, left top, from(#ff3400), color-stop(50%, #f4ff2a), to(#ff3400)) left bottom #000000 no-repeat;
  background: linear-gradient(to left, #ff3400 0%, #f4ff2a 50%, #ff3400 100%) left bottom #000000 no-repeat;
  background-size: 100% 3px;
}

.header-link {
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.mobile-menu {
  background-color: #000000;
  color: #f4ff2a;
  z-index: 1000;
}

.mobile-link {
  width: 100%;
  display: block;
  font-size: 25px;
}

.mobile-menu-container {
  z-index: 1000;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #f4ff2a;
  position: fixed;
  top: 45px;
  bottom: 0;
  text-align: center;
}

.fix {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

