.header-links {
  background-color: #000000;
  text-align: center;
  padding: 0 25px;
  font-size: 20px !important;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border-bottom: 3px solid #f4ff2a;
}

.header-link {
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}

.container {
  display: inline-block;
  cursor: pointer;
}

@media screen and (min-width: 736px) {
  .mobile-main {
    display: none;
  }
}

.mobile-menu {
  width: 100%;
  background-color: #000000;
}

.mobile-link {
  width: 100%;
  display: block;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

