@import 'variables';

button {
    display: inline-block;
    font-family: inherit;
    appearance: none;
}

.btn,
.gse-btn {
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.25em;
    appearance: none;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    cursor: default;
    letter-spacing: 0;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        border-color: rgba(0, 0, 0, .25);
    }
    &:focus {
        box-shadow: 0 0 0 .2em rgba(200, 200, 200, .2);
    }
    &:active {
        background-image: none;
        background-color: #e6e9eb;
        box-shadow: 0 0 0 .2em rgba(200, 200, 200, .2), inset 0 0.15em 0.3em rgba(27, 31, 35, .15);
    }
    &:disabled,
    &.disabled {
        color: rgba(36, 41, 46, 0.4) !important;
        background-color: #eff3f6 !important;
        background-image: none !important;
        border-color: rgba(27,31,35,0.2) !important;
        box-shadow: none !important;
        cursor: default !important;
        pointer-events: none !important;
    }

    &.wrap {
        white-space: normal;
    }
}

.btn-sm {
    padding: 3px 8px;
    font-size: 12px;
}

.btn-lg {
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 6px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-fixed-width {
    min-width: 123px;
}

.btn-outline {
    color: #0083d9;
    background-color: #fff;
    background-image: none;
    &:focus {
        border-color: #0083d9;
        box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
    }
    &:hover,
    &:active,
    &.selected {
        color: #fff;
        background-color: #0083d9;
        background-image: none;
        border-color: #0083d9;
    }
}

.btn-outline-darkpink {
    color: #fff;
    border-color: transparent;
    background-color: #a1143a;
    background-image: none;
    &:hover,
    &:active,
    &.selected {
        color: #fff;
        border-color: transparent;
        background-color: #a1143a;
        background-image: none;
    }
}

.btn-outline-darkblue {
    color: #fff;
    border-color: transparent;
    background-color: #1466a1;
    background-image: none;
    &:hover,
    &:active,
    &.selected {
        color: #fff;
        border-color: transparent;
        background-color: #1466a1;
        background-image: none;
    }
}

.btn-outline-darkorange {
    color: #fff;
    border-color: transparent;
    background-color: #a93712;
    background-image: none;
    &:hover,
    &:active,
    &.selected {
        color: #fff;
        border-color: transparent;
        background-color: #a93712;
        background-image: none;
    }
}

.btn-transparent {
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(255,255,255,.5);
    color: #fff;
    &:hover {
        color: #303b52;
        background-color: #fff;
        background-image: none;
        border-color: #fff;
    }
}
.btn-transparent-filled {
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    color: #303b52;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        background-image: none;
        border-color: #fff;
        color: #000;
    }
}

.btn-secondary,
.btn-blue {
    color: #fff;
    background-color: #3485d0;
    background-image: linear-gradient(-180deg, #3485d0 0%, #2363a0 90%);
    &:hover {
        background-color: darken(#009ee1, 2);
        background-image: linear-gradient(-180deg, darken(#3485d0, 1) 0%, darken(#2363a0, 3) 90%);
    }
    &:focus {
        box-shadow: 0 0 0 .2em rgba(0, 151, 217, .3);
    }
    &:active {
        background-image: none;
        background-color: darken(#2363a0, 3);
    }
    &:disabled {
        color: #fff;
        background-color: #3485d0;
        background-image: linear-gradient(-180deg, #3485d0 0%, darken(#2363a0, 2) 90%);
        opacity: .5;
    }
}

.btn-green {
    background-color: #1fa96d;
    background-image: linear-gradient(lighten(#1fa96d, 5), darken(#1fa96d, 1));
    color: #fff;
    &:hover {
        background-image: linear-gradient(lighten(#1fa96d, 2), darken(#1fa96d, 4));
    }
    &:focus {
        box-shadow: 0 0 0 0.2em rgba(52,208,88,0.3);
    }
    &:active {
        background-image: none;
        background-color: darken(#1fa96d, 3);
    }
    &:disabled {
        color: #fff;
        background-color: #1fa96d;
        background-image: linear-gradient(-180deg, lighten(#1fa96d, 3) 0%, darken(#1fa96d, 3) 90%);
        opacity: .5;
    }
}

.btn-pink,
.gse-btn-pink {
    background-color: #d6345f;
    background-image: linear-gradient(lighten(#d6345f, 5), darken(#d6345f, 1));
    color: #fff;
    &:hover {
        background-image: linear-gradient(lighten(#d6345f, 2), darken(#d6345f, 4));
    }
    &:focus {
        box-shadow: 0 0 0 0.2em rgba(214, 52, 94, 0.3);
    }
    &:active {
        background-image: none;
        background-color: darken(#d6345f, 3);
    }
}

.btn-red {
    background-color: #cb2431;
    background-image: linear-gradient(lighten(#cb2431, 5), darken(#cb2431, 1));
    color: #fff;
    &:hover {
        background-image: linear-gradient(lighten(#cb2431, 2), darken(#cb2431, 4));
    }
    &:focus {
        box-shadow: 0 0 0 0.2em rgba(203, 36, 49, 0.3);
    }
    &:active {
        background-image: none;
        background-color: darken(#cb2431, 3);
    }
}

.btn-danger {
    color: #cb2431;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    &:not([disabled]) {
        &:hover {
            color: #fff;
            background-color: #cb2431;
            background-image: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
            border-color: rgba(27,31,35,0.5);
        }
        &:focus {
            box-shadow: 0 0 0 0.2em rgba(203, 36, 49, 0.3);
        }
        &:active {
            color: #fff;
            background-color: #b5202c;
            background-image: none;
            border-color: rgba(27,31,35,0.5);
        }
    }
}

.btn-group {
    display: flex;
    &.inline {display: inline-flex}
    > * {
        border-radius: 0px;
        &:not(:first-child){
            margin-left: -1px;
        }
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:hover {
            z-index: 4 !important;
        }
        &:focus {
            box-shadow: none;
        }
        &[class*="btn-"]{
            z-index: 5;
        }
    }
}

.btn-dropdown {
    position: relative;
    padding: 0;
    display: flex;

    input[type=checkbox] {
        display: none !important;
    }

    .btn {
        padding-right: 25px;
        width: 100%;

        label {
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 8px 15px;
            cursor: pointer;
        }

        &:after {
            content: " ";
            position: absolute;
            right: 8px;
            top: 16px;
            border-top: 5px solid #444;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
    }

    &.btn-pink:after, &.btn-blue:after {
        border-top: 5px solid #FFF;
    }

    .btn-dropdown-menu {
        text-align: left;
        opacity: 0.00001;
        z-index: -1;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 2px);
        min-width: 112px;

        background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
        background-color: #fafbfc;

        border: 1px solid rgba(0,0,0,.2);
        border-radius: 3px;

        transition: .25s all ease-in-out;

        a {
            font-size: 14px;
            padding: .5rem 1rem ;
            white-space: nowrap;
            text-decoration: none;
            color: #444;
            background-color: transparent;
            transition: 0.1s background-color ease-in-out;
            &:hover {
                background-color: #eee;
            }
            &.danger {
                color: $red;
            }
        }
    }

    .btn:hover:enabled + .btn-dropdown-menu {
        background-color: #FFF;
        opacity: 1;
        z-index: 5;
        visibility: visible;
        a {
        }
    }

    .btn-dropdown-menu:hover {
        background-color: #FFF;
        opacity: 1;
        z-index: 5;
        visibility: visible;
        a {
        }
    }
}
