.form {
    &.form-horizontal {
        .form-label {
            width: auto;
            margin-bottom: 0;
        }
        .form-row {
            display: flex;
        }
    }

    .form-row {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .form-label {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #222;
        margin-bottom: 2px;
    }

    .form-input-group {
        display: flex;

        > *:hover {
            z-index: 2;
        }

        > *:focus {
            z-index: 3;
        }

        > *:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        > *:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        > *:not(:first-child) {
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        > *:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .form-range-group {
        display: flex;

        > *:not(:last-child) {
            margin-right: 1rem;
        }

        .slider {
            flex-grow: 1;
        }

        input {
            width: 55px;
        }
    }
}
