.pure-table {
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
    border: 1px solid #cbcbcb;
    width: 100%;

    form {
        display: inline-block;
        vertical-align: top;
    }

    caption {
        color:#000;
        font: italic 85%/1 arial,sans-serif;
        padding:1em 0;
        text-align:center;
    }

    td,
    th {
        border-left:1px solid #cbcbcb;
        border-width:0 0 0 1px;
        font-size:inherit;
        margin:0;
        overflow:visible;
        padding:6px 12px;
    }

    td:first-child,
    th:first-child {
        border-left-width:0
    }

    thead {
        background:#e0e0e0;
        color:#000;
        text-align:left;
        vertical-align:middle
    }
    td {
        background-color:transparent
    }
}

.pure-table-odd td {
    background-color:#f2f2f2
}
.pure-table-striped tr:nth-child(2n-1) td {
    background-color:#f2f2f2
}
.pure-table-bordered td {
    border-bottom:1px solid #cbcbcb
}
.pure-table-bordered tbody>tr:last-child td,
.pure-table-horizontal tbody>tr:last-child td {
    border-bottom-width:0
}
.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px;
    border-bottom: 1px solid #cbcbcb
}
.pure-table-horizontal tbody>tr:last-child td {
    border-bottom-width: 0
}

.table {
    width: 100%;
    min-width: 400px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #FFF;
    &.table-dark {
        background-color: #44494e;
        color: #fff;
        border-color: #24292e;
        th {
            background-color: #34393e;
            color: #fff;
            border-color: #44494e;
        }
        tr {
            border-bottom: 1px solid #24292e;
        }
    }
    &.tlf { table-layout: fixed; }
    tr {
        border-bottom: 1px solid #ddd;
    }
    thead {
        background-color: #fafafa;
        padding: 0;
    }
    th {
        padding: 1rem;
        text-align: left;
        font-weight: 600;
        color: #444;
        user-select: none;
        border: none;
        &.tac {text-align: center}
        &.tar {text-align: right}
    }
    td {
        padding: 4.5px 14px;
    }

    .checkbox-column {
        width: 48px;
        text-align: center;
    }

    .edit-delete-column {
        width: 175px;
        text-align: center;
    }

    .actions-column {
        width: 125px;
        text-align: center;
    }

    .col-hide-md {
        @media (max-width:1100px) { display: none; }
    }
    .col-hide-sm {
        @media (max-width: 900px) { display: none; }
    }
    .col-hide-xs {
        @media (max-width: 700px) { display: none; }
    }
}

.table-sm {
    font-size: 14px;
    th {
        padding: 10px;
    }
    td {
        padding: 4px 10px;
    }
}
