$fonts: "Open Sans", opensans, "Segoe UI", "Helvetica Neue", sans-serif;
$montserrat: "Montserrat", "Open Sans", opensans, "Segoe UI", "Helvetica Neue", sans-serif;

$bggrey: #EEE;
$darkgrey: #252525;
$secondgrey: #444;
$bordergrey: #ccc;
$midgrey: #999;
$hrgrey: #c6c6c6;
$topbarborder: #e0e6e7;

$gseyellow: #f4ff2a;
$gseblack: #000000;
$tutpink: #E83F6F;

$blue: #2489C5;
$linkblue: #2c9ab7;
$headerblue: #125b86;
$tutblue: #2274A5;

$toolsphone: #E73700;
$toolsfaq: #BD3838;
$toolsaccount: #3888BD;

$green: #008000;
$tutgreen: #32936F;

$orange: #fa7921;
$tutorange: #FF7400;
$deleteorange: #ff3400;

$yellow: #EFB317;

$purple: #593271;

$red: #d9534f;

$bp-xs: 400px;
$bp-sm: 650px;
$bp-md: 850px;
$bp-lg: 1096px;
$bp-xl: 1200px;

/// NEW

$border-color: #e9e9e9;
