$fonts: 'Lato', sans-serif;
$montserrat: "Montserrat", "Open Sans", opensans, "Segoe UI", "Helvetica Neue", sans-serif;

$bggrey: #EEE;
$darkgrey: #252525;
$secondgrey: #444;
$bordergrey: #ccc;
$midgrey: #999;
$hrgrey: #c6c6c6;
$topbarborder: #e0e6e7;

$gseyellow: #f4ff2a;
$gseblack: #000000;

$bp-xs: 400px;
$bp-sm: 650px;
$bp-md: 850px;
$bp-lg: 1096px;
$bp-xl: 1200px;
