
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'partial/forms';
@import 'partial/grid';
@import 'partial/headings';
@import 'partial/placeholders';
@import 'partial/reset';
@import 'partial/variables';
@import 'partial/buttons';

html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.hide-mobile {
    @media screen and (max-width: 1290px) {
        display: none;
    }
}
.show-mobile {
    @media screen and (min-width: 1291px) {
        display: none;
    }
}

.footer {
    background-color: #999;
    text-align: center;
    height: 150px;
}

.footer-link {
    color: $gseblack;
}

.footer-photo {
    max-height: 150px;
    position: relative;
    top: -115px;
    left: -20px;
    @media screen and (max-width: 450px) {
        max-height: 100px;
    }
}

.footer-links {
    position: relative;
}

.web-content {
    min-height: calc(100vh - 196px);
}

.text-black {
    color: $gseblack;
}
