
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'partial/buttons';
@import 'partial/forms';
@import 'partial/grid';
@import 'partial/headings';
@import 'partial/placeholders';
@import 'partial/popup';
@import 'partial/reset';
@import 'partial/tables';
@import 'partial/variables';

html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

a {color: $gseyellow;}

.hide-mobile {
    @media screen and (max-width: 720px) {
        display: none;
    }
}
.show-mobile {
    @media screen and (min-width: 721px) {
        display: none;
    }
}
