@import 'partial/variables';

html, body {
    background-color: $gseblack;
    color: $gseyellow;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
}

.title {
    font-size: 10vw;
}

.gse-logo {
    max-height: 300px;
}

.m-b-md {
    margin-bottom: 30px;
}

.intro {
    width: 80%;
    font-size: 22px;
}
