@import 'partial/variables';

.header-links {
    background-color: $gseblack;
    text-align: center;
    padding: 0 25px;
    font-size: 20px !important;
    font-weight: normal;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-bottom: 3px solid $gseyellow;
}
.header-link {
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}
