@import 'partial/variables';

.header-links {
    background-color: $gseblack;
    text-align: center;
    padding: 0 25px;
    font-size: 20px !important;
    font-weight: normal;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background:
        linear-gradient(
            to left,
            #ff3400 0%,
            $gseyellow 50%,
            #ff3400 100%
        )
        left
        bottom
        $gseblack
        no-repeat;
    background-size:100% 3px;
}
.header-link {
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.mobile-menu {
    background-color: $gseblack;
    color: $gseyellow;
}
.mobile-link {
    width: 100%;
    display: block;
    font-size: 25px;
}
.mobile-menu-container {
    padding-top: 45%;
    width: 100%;
    height: 100%;
    background-color: $gseblack;
    color: $gseyellow;
    position: fixed;
    top: 45px;
    bottom: 0;
    text-align: center;
}
