@import 'partial/variables';

.card-container {
    max-width: 400px;
    width: 400px;
    max-height: 300px;
    height: 300px;
    float: left;
    text-align: center;
    z-index: 0;
    position: relative;
    @media screen and (max-width: 530px) {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    &:hover {
        transform: scale(1.1);
        z-index: 100;
        filter: grayscale(0%);
    }
    filter: grayscale(100%);
    transition: all 1s ease;
}

.card-image {
    max-width: 100%;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.card-name {
    position: relative;
    top: -180px;
    left: -113px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.card-name-black {
    position: relative;
    top: -180px;
    left: -113px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color: $gseblack;
    font-weight: 600;
}

.profile-container {
    max-width: calc(100% - 10vw);
    width: calc(100% - 10vw);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.profile-image-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profile-image {
    width: 50%;
    max-width: 440px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid $gseblack;
}

.player-details {
    display: inline-block;
    position: absolute;
    padding-left: 1rem;
}

.profile-text {

}

.other {
    display: inline-block;
    vertical-align: top;
}

.player-name {
    font-size: 55px;
    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}

.player-info {
    font-size: 20px;
    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}
