@import 'partial/variables';

.card-container {
    background-color: $gseblack;
    max-width: 300px;
    width: 300px;
    border-radius: 15px;
    float: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
    &:hover {
        box-shadow: 0 0 3px #525252;
    }
    @media screen and (max-width: 530px) {
        // height: 100px !important;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.card-image {
    max-width: calc(100% - 100px);
    display: block;
    margin-top: 1rem;
    margin-left:auto;
    margin-right: auto;
}

.card-name {
    display: block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color: $gseyellow;
}

.profile-container {
    max-width: calc(100% - 10vw);
    width: calc(100% - 10vw);
    background-color: $gseblack;
    height: 100%;
    color: $gseyellow;
    margin-left: auto;
    margin-right: auto;
}
.profile-image-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.profile-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.profile-text {

}
