@import 'partial/variables';

.card-container {
    max-width: 400px;
    width: 400px;
    max-height: 300px;
    height: 300px;
    float: left;
    text-align: center;
    @media screen and (max-width: 530px) {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    &:hover {
        transform: scale(1.1);
    }
}

.card-image {
    max-width: 100%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    filter: grayscale(100%);
    transition: all 1s ease;
    &:hover {
        filter: grayscale(0%);
    }
}

.card-name {
    position: relative;
    top: -146px;
    left: -113px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.profile-container {
    max-width: calc(100% - 10vw);
    width: calc(100% - 10vw);
    background-color: $gseblack;
    height: 100%;
    color: $gseyellow;
    margin-left: auto;
    margin-right: auto;
}
.profile-image-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.profile-image {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.profile-text {

}
